[Unit]
Description=Radarr docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30
ExecStartPre=-/usr/bin/docker stop sonarr
ExecStartPre=-/usr/bin/docker rm sonarr
ExecStart=/usr/bin/docker run \
  --name=sonarr \
  -e PUID=1000 \
  -e PGID=1000 \
  -e TZ=America/Chicago \
  -e UMASK_SET=022 \
  -p 8989:8989 \
  -v /volumes/sonarr/config:/config \
  -v /mnt:/mnt \
linuxserver/sonarr
ExecStop=/usr/bin/docker stop sonarr

[Install]
WantedBy=multi-user.target
