[Unit]
Description=qBittorrent docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30

PreExecStart=-/usr/bin/docker container rm qbittorrent

ExecStart=/usr/bin/docker run \
  --name=qbittorrent \
  -e PUID=1000 \
  -e PGID=1000 \
  -e TZ=America/Chicago \
  -e UMASK_SET=022 \
  -e WEBUI_PORT=8080 \
  -p 6881:6881 \
  -p 6881:6881/udp \
  -p 8080:8080 \
  -v /volumes/qbittorrent/config:/config \
  -v /home/matt/downloads:/downloads \
  -v /mnt:/mnt \
linuxserver/qbittorrent

ExecStop=/usr/bin/docker stop qbittorrent

[Install]
WantedBy=multi-user.target
