[Unit]
Description=Ouroboros docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30
ExecStartPre=-/usr/bin/docker stop ouroboros
ExecStartPre=-/usr/bin/docker rm ouroboros
ExecStart=/usr/bin/docker run \
  --name ouroboros \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -e NOTIFIERS='discord://' \
  -e TZ=America/Chicago \
pyouroboros/ouroboros
ExecStop=/usr/bin/docker stop ouroboros

[Install]
WantedBy=multi-user.target
