[Unit]
Description=transmission docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
  --name=transmission \
  --cap-add=NET_ADMIN \
  -v /mnt:/mnt \
  -v /etc/localtime:/etc/localtime:ro \
  --env-file /etc/systemd/system/env.list \
  --log-driver json-file \
  --log-opt max-size=10m \
  -p 9091:9091 \
  haugene/transmission-openvpn

ExecStop=/usr/bin/docker stop transmission

[Install]
WantedBy=multi-user.target
