[Unit]
Description=nzbhydra2 docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
  --name=nzbhydra2 \
  -e PUID=1000 \
  -e PGID=1000 \
  -e TZ=America/Chicago \
  -p 5076:5076 \
  -v /volumes/nzbhydra2/config:/config \
  -v /volumes/nzbhydra2/downloads:/downloads \
linuxserver/nzbhydra2

ExecStop=/usr/bin/docker stop nzbhydra2

[Install]
WantedBy=multi-user.target
