[Unit]
Description=Ouroboros docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/docker run --rm \
  --name ouroboros \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -e NOTIFIERS='discord:/webhook_id/webhook_token' \
  -e TZ=America/Chicago \
pyouroboros/ouroboros

ExecStop=/usr/bin/docker stop ouroboros

[Install]
WantedBy=multi-user.target
