[Unit]
Description=Jackett docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30
ExecStartPre=-/usr/bin/docker stop jackett
ExecStartPre=-/usr/bin/docker rm jackett
ExecStart=/usr/bin/docker run \
  --name=jackett \
  -e PUID=1000 \
  -e PGID=1000 \
  -e TZ=America/Chicago \
  -p 9117:9117 \
  -v /volumes/jackett/config:/config \
  -v /volumes/jackett/downloads:/downloads \
linuxserver/jackett
ExecStop=/usr/bin/docker stop jackett

[Install]
WantedBy=multi-user.target
